*{
    box-sizing: border-box;
}

nav{
    background-color: #0F381B;
    padding: 0 30%;
}

nav li{
    display: inline-block;
   
}

nav li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    

}

nav li a:hover{
    background-color: #000000;
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 8px black;
  display: none;   
}

.dropdown-menu a{
    display: block;
    color: #000000;
   
}

.dropdown:hover .dropdown-menu{
    display: block;}