:root{
    --cor-de-fundo: #DFFFB6;
}

img{
    max-width: 400px;
    max-height: 400px;
    margin: 20px auto;
   }

*{
    box-sizing: border-box;
}

nav{
    background-color: #0F381B;
    padding: 0 30%;
}

nav li{
    display: inline-block;
   
}

nav li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    

}

nav li a:hover{
    background-color: rgb(0, 0, 0);
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;   
}

.dropdown-menu a{
    display: block;
    color: #000000;
   
}

.dropdown:hover .dropdown-menu{
    display: block;
    
}
